/**
* Layout Defaults
**/
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/**
* Utility classes
**/

.container {
  padding: 1rem;
  max-width: 60rem;
  margin: auto;
}

nav {
  /* padding: 1%; */
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
}

li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar__item--active {
  border-bottom: 6px solid #140858;
  /* text-decoration: underline #140858; */
}

/**
* Variables
*/
:root {
  --font-sans: "Work Sans", sans-serif;
  --color-primary: #140858;
  --color-orange: #fe9804;
  --color-pink: #fe006c;
}

/**
* Typography
*/
body {
  font-family: var(--font-sans);
  color: var(--color-primary);
  min-height: 100%;
  line-height: 1.4;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(255, 152, 6, 1) 0%,
    rgba(255, 0, 108, 1) 100%
  );
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_contents {
  display: flex;
  justify-content: center;
}

div > p {
  font-size: 35px;
}